.areacadastro {
  background-color: white;
}

h4 {
  padding: 30px 0px 30px 30px;
}

.cadastro {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.3rem;
  color: rgb(43, 42, 42);
}

form {
  margin: 0px 40px 0px 40px;
}

.campo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.campo>label {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.campo>input {
  margin-top: 0;
  height: 2rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.8rem;
}

#email {
  grid-column-start: 1;
  grid-column-end: 3;
}

.ativo {
  display: flex;
  flex-direction: column;
}

.lbativo {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.cadastrar {
  padding: 6px 6px 6px 6px;
  background-color: #0f1b35;
  color: white;
  width: 80px;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.mensagem {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 25rem;
  font-size: 1rem;
}

.cabecalho {
  display: flex;
}

.ng-invalid.ng-touched:not(form) {
  border: 1px solid red;
}

.validation-field {
  color: red;
  font-size: 10px;
  margin: 0;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

button:active {
  transform: translateY(4px) translateX(4px);
}

@media screen and (max-width: 720px) {
  h4 {
    font-size: 15px;
    padding: 15px 0px 15px 15px;
  }

  .campo>label {
    font-size: 0.7rem;
    margin-top: 0;
  }
}

@media screen and (max-width: 680px) {
  .campo>input {
    height: 1.5rem;
    font-size: 0.6rem;
  }

  .validation-field {
    font-size: 8px;
  }

  .lbativo {
    font-size: 0.6rem;
  }

  .cadastrar {
    padding: 4px 4px 4px 4px;
    width: 60px;
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  h4 {
    font-size: 10px;
    padding: 5px 0px 0px 5px;
  }

  .campo>label {
    font-size: 0.55rem;
  }

  form {
    margin: 0px 20px 0px 20px;
  }

  .validation-field {
    margin: 0;
  }

  .campo>input {
    height: 1.2rem;
    font-size: 0.5rem;
  }

  .campo {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .cadastro {
    display: flex;
    flex-direction: column;
  }

  .lbativo {
    font-size: 0.55rem;
  }

  .cadastrar {
    padding: 3px;
    width: 50px;
    font-size: 9px;
    margin-bottom: 0;
  }

  .check {
    height: 2px;
  }

  form {
    margin: 0px 20px 0px 20px !important;
  }

}
